.cuerpo {
    margin-top: 1%;
}

body {
	background-color: #cccccc;
}

#body-login {
    background-image: url("../img/fondo-login.jpg");
    background-size: 100%;
}

#header {
	background-color: #1e1e24;
}

table {
    table-layout: fixed;
}
td {
    word-wrap:break-word;
}

th {
    text-align: center;
}

textarea {
	resize: none;
}

hr {
height: 1px;
color: #000000;
background-color: #000000;
border: none;
}

tbody {
	background-color: white;
	text-align: center;
}

.jumbotron-gray {
    background: linear-gradient(141deg, #798086 0%, #2e6171 51%, #798086 75%);
    color:white;
    border-radius: 50px;
    padding: 50px;
}

.opciones {
    width: 12%;
}

#btn_volver_buscar {
    margin-top: -5%;
    margin-left: -2%;
}

#card_login {
    margin-top: 5%;
    padding: 2%;
    border: 2px solid #a1a1a1;    
    border-radius: 25px;
    opacity: 0.8;
}

/*Paginación*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #2e6171;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}