body {
	background-color: #e6e6e6;
}

textarea {
	resize: none;
}

hr {
height: 1px;
color: #000000;
background-color: #000000;
border: none;
}

tbody {
	background-color: white;
	text-align: center;
}

#card-formulario {
	background-color: white;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}

#grad1 {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color:white;
    opacity:0.95;
}